*~
*.mod
*.o
*.a
bin
lib
share
scifor_version.inc
numutils/test
src/.repo/
intel
intel_debug
_install/drafts
intel_debug_old
intel_old
gnu
gnu_debug
.DS_Store
all_plats.sh
list_plat
_install/make.inc
obj_gnu
obj_intel
obj_intel_debug
obj_gnu_debug
mpif.h
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.05_11_14_16h17
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.05_11_14_16h19
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.10_11_14_23h10
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.10_11_14_23h11
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.14_01_15_14h02
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.14_01_15_14h04
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h02
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h03
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h04
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h20
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h23
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h24
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h25
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h34
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h37
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h38
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_16h39
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_17h10
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_17h16
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_17h24
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_17h28
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_17h29
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_17h33
_install/opt/parpack/_install/PARPACK/EXAMPLES/mpif.h.20_10_15_17h43
_install/opt/parpack/_install/PARPACK/SRC/mpif.h
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.05_11_14_16h17
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.05_11_14_16h19
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.10_11_14_23h10
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.10_11_14_23h11
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.14_01_15_14h02
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.14_01_15_14h04
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h02
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h03
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h04
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h20
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h23
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h24
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h25
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h34
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h37
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h38
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_16h39
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_17h10
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_17h16
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_17h24
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_17h28
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_17h29
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_17h33
_install/opt/parpack/_install/PARPACK/SRC/mpif.h.20_10_15_17h43
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.05_11_14_16h17
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.05_11_14_16h19
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.10_11_14_23h10
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.10_11_14_23h11
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.14_01_15_14h02
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.14_01_15_14h04
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h02
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h03
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h04
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h20
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h23
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h24
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h25
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h34
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h37
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h38
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_16h39
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_17h10
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_17h16
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_17h24
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_17h28
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_17h29
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_17h33
_install/opt/parpack/_install/PARPACK/UTIL/mpif.h.20_10_15_17h43
install.log
opt/arpack/install.log
opt/blas/install.log
opt/dmft_tools/install.log
opt/fftpack/install.log
opt/lapack/install.log
opt/minpack/install.log
opt/quadpack/install.log
opt/parpack/PARPACK/EXAMPLES/mpif.h
opt/parpack/PARPACK/EXAMPLES/mpif.h.05_11_14_16h17
opt/parpack/PARPACK/EXAMPLES/mpif.h.05_11_14_16h19
opt/parpack/PARPACK/EXAMPLES/mpif.h.10_11_14_23h10
opt/parpack/PARPACK/EXAMPLES/mpif.h.10_11_14_23h11
opt/parpack/PARPACK/EXAMPLES/mpif.h.14_01_15_14h02
opt/parpack/PARPACK/EXAMPLES/mpif.h.14_01_15_14h04
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h02
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h03
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h04
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h20
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h23
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h24
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h25
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h34
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h37
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h38
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_16h39
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_17h10
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_17h16
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_17h24
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_17h28
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_17h29
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_17h30
opt/parpack/PARPACK/EXAMPLES/mpif.h.20_10_15_17h33
opt/parpack/PARPACK/EXAMPLES/mpif.h.21_10_15_23h15
opt/parpack/PARPACK/EXAMPLES/mpif.h.21_10_15_23h16
opt/parpack/PARPACK/SRC/mpif.h
opt/parpack/PARPACK/SRC/mpif.h.05_11_14_16h17
opt/parpack/PARPACK/SRC/mpif.h.05_11_14_16h19
opt/parpack/PARPACK/SRC/mpif.h.10_11_14_23h10
opt/parpack/PARPACK/SRC/mpif.h.10_11_14_23h11
opt/parpack/PARPACK/SRC/mpif.h.14_01_15_14h02
opt/parpack/PARPACK/SRC/mpif.h.14_01_15_14h04
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h02
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h03
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h04
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h20
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h23
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h24
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h25
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h34
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h37
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h38
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_16h39
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_17h10
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_17h16
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_17h24
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_17h28
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_17h29
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_17h30
opt/parpack/PARPACK/SRC/mpif.h.20_10_15_17h33
opt/parpack/PARPACK/SRC/mpif.h.21_10_15_23h15
opt/parpack/PARPACK/SRC/mpif.h.21_10_15_23h16
opt/parpack/PARPACK/UTIL/mpif.h
opt/parpack/PARPACK/UTIL/mpif.h.05_11_14_16h17
opt/parpack/PARPACK/UTIL/mpif.h.05_11_14_16h19
opt/parpack/PARPACK/UTIL/mpif.h.10_11_14_23h10
opt/parpack/PARPACK/UTIL/mpif.h.10_11_14_23h11
opt/parpack/PARPACK/UTIL/mpif.h.14_01_15_14h02
opt/parpack/PARPACK/UTIL/mpif.h.14_01_15_14h04
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h02
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h03
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h04
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h20
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h23
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h24
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h25
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h34
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h37
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h38
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_16h39
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_17h10
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_17h16
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_17h24
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_17h28
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_17h29
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_17h30
opt/parpack/PARPACK/UTIL/mpif.h.20_10_15_17h33
opt/parpack/PARPACK/UTIL/mpif.h.21_10_15_23h15
opt/parpack/PARPACK/UTIL/mpif.h.21_10_15_23h16
opt/parpack/ARmake.inc
opt/parpack/PARPACK/EXAMPLES/mpif.h.21_10_15_23h35
opt/parpack/PARPACK/EXAMPLES/mpif.h.21_10_15_23h37
opt/parpack/PARPACK/EXAMPLES/mpif.h.21_10_15_23h41
opt/parpack/PARPACK/SRC/mpif.h.21_10_15_23h35
opt/parpack/PARPACK/SRC/mpif.h.21_10_15_23h37
opt/parpack/PARPACK/SRC/mpif.h.21_10_15_23h41
opt/parpack/PARPACK/UTIL/mpif.h.21_10_15_23h35
opt/parpack/PARPACK/UTIL/mpif.h.21_10_15_23h37
opt/parpack/PARPACK/UTIL/mpif.h.21_10_15_23h41
mpif.h.OLD
opt/lapack/install/testdlamch
opt/lapack/install/testdsecnd
opt/lapack/install/testieee
opt/lapack/install/testlsame
opt/lapack/install/testsecond
opt/lapack/install/testslamch
opt/lapack/install/testversion
