*~
*.mod
*.o
*.a
lib
share
scifor_version.inc
src/SF_IOTOOLS/test/A1.dat
src/SF_IOTOOLS/test/A2.dat
src/SF_IOTOOLS/test/A3.dat
src/SF_IOTOOLS/test/A4.dat.gz
src/SF_IOTOOLS/test/A5.dat.gz
src/SF_IOTOOLS/test/A6.dat.gz
src/SF_IOTOOLS/test/A7.dat.gz
src/SF_IOTOOLS/test/B1.dat
src/SF_IOTOOLS/test/B2.dat
src/SF_IOTOOLS/test/B3.dat
src/SF_IOTOOLS/test/B4.dat.gz
src/SF_IOTOOLS/test/B5.dat.gz
src/SF_IOTOOLS/test/B6.dat.gz
src/SF_IOTOOLS/test/B7.dat.gz
src/SF_IOTOOLS/test/kk.dat
build_gnu_mpi_jarvis/
build_gnu_mpi_laptop/
build_gnu_mpi_jarvis_DEBUG
build_gnu_mpi_debug_laptop/
build_mkl/
build
../src/SCIFOR_VERSION.f90
src/SCIFOR_VERSION.f90
SCIFOR_VERSION.f90
build2
