project: SciFortran
project_dir: src
output_dir: doc
exclude_dir: ./src/arpack
             ./src/blas
             ./src/fftpack
             ./src/lapack
             ./src/minpack
             ./src/quadpack
fpp_extensions: f90
macro: _MPI
       _SCALAPACK
project_github: https://github.com/QcmPlab/SciFortran
summary: A library of fortran modules and routines for scientific calculations (*in a way* just like scipy for python)
author: QcmP Lab members
author_description: 
author_pic: https://github.com/QcmPlab/LOGO/releases/download/v1.0/QcmPlab-dark.png
email: adriano.amaricci@gmail.com
github: https://github.com/QcmPlab
display: public
         protected
source: true
sort: src
docmark: ‹
dockmark_alt: «
predocmark: ›
predocmark_alt: »
search: true
graph: true
warn: false

-------------

{!README.md!}